/* General */

@font-face {
    font-family:"Roboto";
    src: url('./font/Roboto-Thin.ttf');
}

@font-face {
    font-family:"Roboto";
    font-style: bold;
    src: url('./font/Roboto-Regular.ttf');
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.title {
    border: grey;
}

span {
    font-weight: bold;
}

.col {
    border: 1px solid green;
}

.col-6 {
    border: 1px solid green;
}

ul {
    list-style: none;
}

a {
    color: #0e76a8;
}

/* Header */

.logoLkin {
    width: 50px !important;
    height: 50px !important;
}

.nav-link {
    color: grey;
}

.nav-link:hover {
    color: #0e76a8;
}

.bi-list {
    color: #0e76a8;
}

/* My search */

.myImg {
    width: 27em !important;
    height: 35em !important;
}

.mySch {
    margin: 20px 0;
}

.carousel-inner { 
    margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: grey;
}

.lang {
    margin-top: 50px;
}

.langFram {
    margin-top: 5px;
}

/* Pro-exp */

.jumbotron {
    background-color: rgb(243, 243, 243);
}

/* Training */

.card {
    margin-top: 30px !important;
}

/* Footer */

.ctctme {
    margin-top: 30px;
    font-size: 1.5em;
    color: grey;
}

.ctctme:hover {
    cursor: pointer;
    color: #0e76a8;
}

.bi-phone, .bi-envelope {
    margin-right : 10px;
    color: #0e76a8;
}
